.feitiços {
  position: relative;
  left: 5px;

  ::-webkit-scrollbar {
    width: 6px;
    position: fixed;
    display: block;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(88, 28, 28, 0.527);
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(31, 6, 6, 0.808);
  }
}
