@font-face {
  font-family: "fonte";
  src: url("./../assets/JMH\ Typewriter.ttf");
}

.ficha {
  position: relative;
  top: 5px;
  left: 2.2%;
  width: 577px;
  color: rgb(44, 31, 31);
  font-family: "fonte";
  text-shadow: 1px 1px 1px #61480e;
  // font-weight: bolder;
  user-select: none;
  padding: 10px;
}

.wrapper {
  width: 600px;
  background-image: url("jornal2.png");
  background-size: 110% auto;
  background-position: left -18px top -10px;
}

.espaço {
  height: 200px;
  width: 100%;
}
