.gavetão {
  margin-left: -10px;
  padding-top: 4px;
  h2 {
    margin-left: 5px;
    font-size: 20px;
    cursor: pointer;
  }

  .gaveta {
    margin-top: -10px;
    max-height: 0;
    transition: max-height 1s ease-out;
    overflow: hidden;
    background-image: linear-gradient(
      rgba(73, 53, 53, 0.253),
      rgba(73, 53, 53, 0),
      rgba(73, 53, 53, 0.253)
    );
  }
  .gaveta * {
    background: none;
  }

  .gaveta.média {
    max-height: 150px;
    overflow-y: auto;
  }

  .gaveta.grande {
    max-height: 350px;
    overflow-y: auto;
  }

  .gaveta.enorme {
    max-height: 550px;
    overflow-y: auto;
  }
}
