.pontos {
  margin-left: -15px;
  display: grid;
  gap: 1px;
  overflow-y: hidden;
  .pontuação {
    margin: auto;
    width: 400px;
    height: 25px;
    padding-left: 66px;
    position: relative;
    right: 15px;

    border-radius: 3px;
    align-content: center;

    user-select: none;

    display: grid;
    grid-template-columns: 1fr 1fr;
    p {
      text-shadow: 1px 1px 1px #61480e6c;
    }
    .pontinhos {
      position: relative;
      top: 21px;
      display: flex;
      list-style-type: none;
      li {
        font-size: 14px;
        height: 9px;
        width: 9px;
        border-radius: 50%;
        display: block;
        border: 2px solid #403418;
        box-shadow: 1px 1px 2px #61480e;

        img {
          position: relative;
          bottom: 5px;
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
  }

  .pontuação:hover {
    background-color: #40341854;
  }
}
